[Unit]
Description=Servicio de juego Arcade para Bolirana
After=keyboard_monitor.service
After=display-manager.service  # Si usas un display manager como LightDM, GDM, etc.
After=multiuser.target
Wants=keyboard_monitor.service # Queremos que keyboard_monitor esté activo.

[Service]
ExecStart=/usr/bin/python3 /home/pi/bolirana/game/game.py
WorkingDirectory=/home/pi/bolirana/game
User=pi
Environment=DISPLAY=:0
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target