[Unit]
Description=Servicio de juego Arcade para Bolirana
After=keyboard_monitor.service
After=display-manager.service
After=multiuser.target
Wants=keyboard_monitor.service

[Service]
ExecStart=/usr/bin/python3 /home/pi/Public/bolirana/game/game.py
WorkingDirectory=/home/pi/Public/bolirana/game
User=pi
Environment=DISPLAY=:0
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target