[Unit]
Description=Servicio para inicializar el driver driver_gpio_teclado
After=multiuser.target

[Service]
Type=oneshot
ExecStart=/sbin/insmod /home/pi/Public/bolirana/Driver/bin/gpio_keypad.ko
RemainAfterExit=yes

[Install]
WantedBy=multiuser.target